@media only screen and (max-width: 1200px) {
  .title-text-box {
    width: 100%;
  }

  section {
    padding: 40px 0;
  }

  h1 {
    font-size: 135px;
  }

  blockquote:before {
    font-size: 200%;
    left: 8%;
    top: -2px;
  }

  blockquote:after {
    font-size: 200%;
    top: 30px;
    left: 90%;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 100px;
  }
  h3 {
    font-size: 16px;
  }

  .btn {
    padding: 10px 17px !important;
  }

  blockquote:before {
    font-size: 200%;
    left: 0%;
  }

  blockquote:after {
    font-size: 200%;
    top: 30px;
    left: 98%;
  }

  cite {
    top: 60px;
  }

  cite img {
    height: 40px;
  }

  .icon {
    font-size: 200%;
  }

  .box p {
    font-size: 14.5px;
  }

  .pictures-showcase li {
    display: block;
    float: left;
    width: 50%;
  }

  .video-text {
    padding: 40px 20px;
    font-size: 80%;
  }

  .contact-form {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  body {
    font-size: 16px;
  }

  section:first-of-type {
    padding-top: 60px;
  }

  section {
    padding: 30px 0;
  }

  .title-text-box {
    top: 60%;
    padding: 0 5%;
  }

  .btn-full:link,
  .btn-full:visited,
  input[type="submit"] {
    margin-right: 30px;
  }

  .logo {
    height: 80px;
  }

  blockquote:before {
    left: 15%;
    top: -5px;
  }

  blockquote:after {
    left: 83%;
  }

  .box p {
    font-size: 14px;
  }

  .video-text-container {
    height: 99%;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 100px;
  }

  .logo {
    height: 80px;
  }

  .title-text-box {
    padding: 0 5%;
  }

  .btn-full:link,
  .btn-full:visited,
  input[type="submit"] {
    margin-right: 30px;
  }

  .main-nav li {
    margin-left: 20px;
  }

  blockquote:before {
    left: 5%;
    top: -5px;
  }

  blockquote:after {
    left: 92%;
  }

  .col {
    width: 50%;
    padding: 0 10px;
    margin: 0 auto;
  }

  .video-text {
    padding: 20px 20px;
    font-size: 68%;
  }

  cite {
    margin-top: 5px;
  }

  cite img {
    height: 30px;
  }

  .icon {
    font-size: 250%;
  }

  .box p {
    font-size: 90%;
  }
}

@media only screen and (max-width: 480px) {
  section:first-of-type {
    padding-top: 40px;
  }

  section {
    padding: 20px 0;
  }

  .section-sights .row:nth-child(2) {
    margin-top: 30px;
  }

  blockquote:before {
    left: 2%;
    top: -5px;
  }

  blockquote {
    font-size: 13px;
  }

  blockquote:after {
    left: 84%;
  }

  cite {
    font-size: 12px;
    top: 70px;
  }

  .icon {
    margin-top: 50px;
  }

  .mobile-nav-icon {
    display: inline-block;
  }

  .main-nav {
    width: 50%;
    display: none;
    float: left;
    margin: 30px 30px 0px 30px;
  }

  .main-nav li {
    display: inline-block;
  }

  .main-nav li:last-child a {
    margin-left: 10px;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 5px 0;
    font-size: 120%;
  }

  .sticky .main-nav {
    display: inline-block;
    margin-top: 5px;
  }

  .sticky .mobile-nav-icon {
    margin-top: 20px;
  }

  .sticky .mobile-nav-icon i {
    color: #555;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 5px 0px;
  }

  .video-text {
    padding: 10px;
    font-size: 68%;
  }

  input[type="checkbox"] {
    zoom: 1;
  }

  .contact-form {
    width: 100%;
  }

  .button {
    display: block;
    margin: 0 auto;
  }

  .video-text-container {
    height: 98%;
  }

  .video-text {
    padding: 5px;
    font-size: 55%;
  }
}

@media only screen and (max-width: 375px) {
  .main-nav li:last-child a {
    margin-left: 10px;
  }

  .main-nav li {
    font-size: 14px;
  }

  cite {
    font-size: 12px;
    top: 70px;
  }

  .icon {
    margin-top: 30px;
  }

  .box p {
    font-size: 83%;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 13px;
  }

  h1 {
    font-size: 80px;
  }

  h3 {
    font-size: 11px;
  }

  blockquote:after {
    top: 40px;
    left: 67%;
  }

  cite {
    font-size: 8px;
  }

  .btn-full:link,
  .btn-full:visited,
  input[type="submit"] {
    margin-right: 10px;
  }

  .main-nav {
    margin: 25px 0 0 0;
  }

  .main-nav li:last-child a {
    margin-left: 0px;
  }
}
