@media only screen and (max-width: 1200px) {
    .title-text-box {
        width: 100%;
        padding: 0 5%;
    }
    
    .row { padding: 0 5%; }  
    .box p{ font-size: 18px;}
}

@media only screen and (max-width: 1023px) {
    body { font-size: 16px }
    section { padding: 60px 0;}
    
        
    blockquote:before {
        left: 220px;    
    }
    
    blockquote:after {
        left: 660px;
    }
    
    cite{
        margin-top:15px;
    }
    
    .box p{ font-size: 16px;}
    
    
}

@media only screen and (max-width: 767px) {
    blockquote:before {
        left: 110px;    
    }
    
    blockquote:after {
        top: 30px;
        left: 550px;
    }
    
    cite{
        margin-top:5px;
    }
    
    cite img{    
        height: 40px;
    }
    
    .icon {
        font-size: 250%;
    }
    
    .box p{ font-size: 14px;}
    
    .main-nav {display:none}
    .mobile-nav-icon{display:inline-block;}
    .main-nav{
        float:left;
        margin-top:20px;
        margin-left: 25px;
    }
    .main-nav li {display: block;}
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 5px 0;
        font-size: 120%;
    }
    
    .sticky .main-nav { margin-top: 5px; }
    .sticky .mobile-nav-icon  { margin-top: 20px}
    .sticky .mobile-nav-icon i { color: #555}
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {padding: 5px 0px;}
    
    
    
}

@media only screen and (max-width: 480px) {
    blockquote:before {
        left: 0px;    
    }
    
    blockquote:after {
        top: 20px;
        left: 420px;
    }
}